@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background-color: #282c34;
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p {
  color: white;
  margin: 5px;
}

h1 {
  font-size: calc(10px + 2vmin);
}

p {
  font-size: calc(10px + 1vmin);
}

input {
  background-color: #282c34;
  border: 0px;
  color: white;
  font-size: calc(10px + 1.5vmin);
  font-family: "Times New Roman", serif;
  width: 100px;
}

select {
  background-color: #282c34;
  border: 0px;
  color: white;
  font-size: calc(10px + 1.5vmin);
  font-family: "Times New Roman", serif;
  width: calc(10px + 5vmin);
}

form {
  padding: 1rem;
}

.input-pair {
  display: block;
  margin: auto;
}